

//* ベーススタイル *//
html {
  font-size: 62.5%;
  height: auto;
  min-height: 100vh;
  }

  body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Noto Sans JP','ADLaM Display';
  background-color: $yellow; 
  margin: 0;
  padding: 0;
 
}

